.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
    width:100vw;
  }
  
  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .parallax__layer--base {
    top:-70px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background-image: url("https://i.ytimg.com/vi/YPIZ4JKiLKE/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .parallax__layer--back {
    top:60vh;
    margin:none;
    margin-left:-1000px;
    margin-right:-1000px;
    z-index:2;
    background-color:rgba(88,88,88,0.5);
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);
  }
  .parallax__layer--back .content{
    background-color:rgb(88,88,88);
    min-height:1500px;
    top:0px;
  }
  .links{
    position: absolute;
    left: 50%;
    top:60%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }
  a {
    font-size:60px;
    border-radius: 30px;
    padding:10px;
    padding-left:40px;
    padding-right:40px;
    background: #585858;
    box-shadow:  5px 5px 10px #4b4b4b,
      -5px -5px 10px #656565;
    color:rgb(200,200,200);
    text-shadow: 3px 2px 0 #7A7A7A;
  }
  a:hover {
    cursor:pointer;
    border-radius: 30px;
    background: linear-gradient(145deg, #4f4f4f, #5e5e5e);
    box-shadow:  5px 5px 10px #4b4b4b,
      -5px -5px 10px #656565;
  }
  
  body {
    font: 100% / 1.5 Arial;
    overflow:hidden;
    background-color:rgb(88,88,88);
  }
  
  .parallax {
    font-size: 200%;
  }
  
  .parallax__layer {
    padding: 100vh 0;
  }